
<!-- FOOTER PARTIAL: Only footer content, no <html>, <head>, or <body> tags -->
<!-- Make sure stylesheet path is correct: /styles.css -->

<div id="footer" class="footer slide-in">
  <div class="content-left">
     <ul>
      <p>Contact us:</p>
        <li>Email: miki3542mbt@gmail.com</li>
     </ul>
  </div>

  <div class="content-middle">
    <div class="icons">
      <a href="www.linkedin.com/in/mikiyas-araya-aba032341"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/mikistat2/"><i class="fa-brands fa-github"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-telegram"></i></a>
    </div>

    <div class="copyright">
      <p>&copy <%= new Date().getFullYear() %></p>
      <p>Developed by MBT</p>
      <p>All right reserved @copy MY BOOKS</p>
    </div>
  </div>

 <div class="content-right">
  <h2>How can we improve this Website</h2>
  <form action="mailto:miki123mbt@gmail.com" method="POST" enctype="text/plain">
    <input style="background: rgba(172, 165, 165, 0.8); border: 1px solid #bdb8b8; display: block" type="text" name="message" placeholder="Your message" style="display: block;">
    <button style="background: rgba(125, 255, 249, 0.8); border: 1px solid #a6dae9; display: block" type="submit">Submit</button>
  </form>
</div>


  </div>
</div>
