<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Book Review Web App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="about-page-container">

  <!-- About the Website Section -->
  <section class="about-website-section">
    <h2>About the Website</h2>
    <p style="color:#e8e8e8; font-size:1.13rem; line-height:1.7; margin-bottom: 18px;">
      MY BOOKS is built for passionate readers who want to keep track of the books they read, write insightful reviews, and manage their reading journey all in one place. It’s designed to be simple, elegant, and functional — giving users a personalized library and review archive.<br><br>
      You can share your personality with your friends and allow them to understand you and your taste more.
    </p>

    <p style="color:#5b3c7a; font-size:1.08rem; font-weight:500; margin-top: 10px; text-align: center; font-size: 2rem ">
      Make this place your own space.
    </p>
  </section>

</div>




  <%- include("partials/footer.ejs") %>
</body>
</html>